h1 {
    color: white;
    background-color: black;
    text-align: left;
    font-weight: bold;
}

.cyan {
    color: cyan;
}

h2 {
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
    text-align: center;
}

h3 {
    background-color: lightblue;
    text-decoration: underline;
    text-align: right;
    color: darkblue;
}